.element__remove-button {
    background: url(../../../images/logo/elements-trash.svg) center / 18px 20px no-repeat;
    margin: 0;
    border: none;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 14px;
    right: 13px;
}