.page {
  min-height: 100vh;
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 19px [center] 1fr 19px;
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 918px) {
  .page {
    grid-template-columns: [center] 1fr;
  }
}