.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 300ms, opacity 300ms;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 19px 0;
}